/* .chart .btns input:checked+label{ box-shadow: inset 1px 1px 5px rgba(0,0,0,.2);} */
.chart #chart{padding: 0px 150px; gap: 150px;}
.chart #chart > div{animation: bottomToTop 2s}
.chart:has(#direction2:checked) #chart{flex-direction: column; align-items: flex-start; padding: 50px 0px; gap: 50px;}
.chart:has(#direction2:checked) #chart > div{animation: leftToRight 2s;}
.chart:has(#direction2:checked) .back{flex-direction: row-reverse; }
.chart:has(#direction2:checked) .back > div{ display: flex; align-items: flex-end; justify-content: flex-end;}

.chart .btns input:checked + label{ background-color: #77bbff;color: white}
.goods .btns input:checked + label{ color: #ffc500; }

.goods .best{transition: .5s;}
.goods li:hover .best{opacity: 0;}
.goods .text{transition: .5s;}
.goods li:hover .text{opacity: 0;}

@keyframes leftToRight {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);

  }
}
@keyframes bottomToTop {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);

  }
}
