* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.flex {
    display: flex;
}

.container {
    max-width: 1320px;
    height: 700px;
    margin: 0 auto;
}

.containerr {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1420px) {
    .container {
        padding: 1rem;
    }
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: #9a7b4f;
}

.maindiv>img {
    width: 400px;
    height: 80px;
}

.maindiv {
    align-items: center;

}

.maintext>li {
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.maintext>li:hover {
    display: block;
    border-bottom: solid 3px black;
    transition: transform 250ms ease-in-out;
}

.maintext {
    gap: 50px;
}

.log {
    margin-left: 50px;
    gap: 10px;
}

.log>li {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

.log>li:hover {
    display: block;
    border-bottom: solid 3px black;
    transition: transform 250ms ease-in-out;
}

body {
    margin: 0;
}

.slideAll {
    overflow: hidden;
    width: 1903px;
    height: 600px;
    margin: 0 auto;
}

.slider {
    width: 500%;
    height: 100%;
    display: flex;
    animation: slideAnimation 10s infinite;
}

.slides>img {
    width: 1903px;
    height: 600px;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-20%);
    }

    45% {
        transform: translateX(-20%);
    }

    50% {
        transform: translateX(-40%);
    }

    70% {
        transform: translateX(-40%);
    }

    75% {
        transform: translateX(-60%);
    }

    80% {
        transform: translateX(-60%);
    }

    99.9999% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(0);
    }
}

.information {
    height: 700px;
    justify-content: space-around;
    align-items: center;
}

.informationImg>img {
    width: 200px;
    height: 300px;
}

.informationText {
    width: 600px;
    box-shadow: 5px 5px 5px gray;
}

.informationText>li {
    font-size: 16px;
}

.week {
    font-size: 30px;
}

.week>li {
    width: 70px;
    text-align: center;
    margin-right: 15px;
    line-height: 60px;
    border: solid 1px beige;
}

.schedule {
    height: 700px;
    background-color: #03C04A;
}

.schedule>div>img {
    width: 400px;
    height: 350px;
    border: solid 1px black;
}

.schedule {
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    color: white;
}

.schedule::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 3px;
    height: 90%;
    background-color: wheat;
}

.days {
    justify-content: center;
    text-align: center;
}

.days>h2 {
    position: relative;
    bottom: 60px;
    left: 50%;
}

.schedule>h1 {
    margin: 0 auto;
    margin-bottom: 46%;
}

.dialog {
    width: 500px;
    height: 100px;
    border: solid 1px black;
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
}

.modalText {
    line-height: 50px;
    padding-top: 5px;
}

.modalText>label {
    width: 100px;
    border: solid 1px black;
}

#pop:checked~.dialog {
    display: block;
}

.week>label {
    display: block;
    width: 70px;
    height: 60px;
    line-height: 60px;
    border: solid 1px beige;
}

.week>p {
    margin-right: 15px;
    padding-bottom: 10px;
}

.scheduleBox>ul {
    width: 250px;
    border: solid 5px black;
    text-align: center;
}

.scheduleBox {
    width: 1000px;
    height: 500px;
    gap: 50px;
    padding-left: 16px;
    margin-top: 10%;
    line-height: 50px;
}

.scheduleBox>ul:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.scheduleBox>h1 {
    position: absolute;
    left: 17%;
    bottom: 90%;
}

.scheduleBox>ul {
    font-size: 30px;
    line-height: 260px;
}

.team>li {
    font-size: 100px;
}

.team>p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.baseball {
    margin-top: 20px;
}

.baseballplayer {
    width: 500px;
    height: 100px;
    text-align: center;
    gap: 20px;
}

.ranking {
    width: 440px;
    height: 255px;
    ;
    border: solid 4px #FDF5E6;
    padding-left: 120px;
}

.ranking>label {
    width: 180px;
    text-align: center;
    background-color: aquamarine;
    display: block;
    margin-bottom: 20px;
    border: solid 1px black;
}

.pitcher,
.hitter {
    margin-right: 20px;
}

.hitter {
    display: none;
}

.hitter>li {
    display: none;
}

.pitcher {
    display: none;
}

.pitcher>li {
    display: none;
    transition: 0.5s;
}

#night:checked~.baseball .ranking:nth-child(1) .hitter {
    display: block;
}

#night:checked~.baseball .ranking:nth-child(1) .pitcher {
    display: block;
}

#night:checked~.baseball .ranking:nth-child(2) .pitcher,
.hitter {
    display: none;
}

#weekend:checked~.baseball .ranking:nth-child(2) .pitcher {
    display: block;
}

#weekend:checked~.baseball .ranking:nth-child(2) .hitter {
    display: block;
}

#dawn:checked~.baseball .ranking:nth-child(3) .hitter {
    display: block;
}

#dawn:checked~.baseball .ranking:nth-child(3) .pitcher {
    display: block;
}

#pitcher:checked~.baseball .ranking .pitcher li {
    display: block;
}

#pitcher:checked~.baseball .ranking .hitter li {
    display: none;
}

#hitter:checked~.baseball .ranking .hitter li {
    display: block;
}

#hitter:checked~.baseball .ranking .pitcher li {
    display: none;
}

.submenu {
    overflow: hidden;
    height: 0;
}

label {
    line-height: 40px;
}

.top {
    margin-top: 30px;
}

#top1:checked~.top .submenu:nth-of-type(1) {
    height: 110px;
    transition: 0.5s;
}

#top2:checked~.top .submenu:nth-of-type(2) {
    height: 110px;
    transition: 0.5s;
}

#top3:checked~.top .submenu:nth-of-type(3) {
    height: 110px;
    transition: 0.5s;
}

#top4:checked~.top .submenu:nth-of-type(4) {
    height: 110px;
    transition: 0.5s;
}

#top5:checked~.top .submenu:nth-of-type(5) {
    height: 110px;
    transition: 0.5s;
}

#top6:checked~.top .submenu:nth-of-type(6) {
    height: 110px;
    transition: 0.5s;
}

.top>ul>label {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submenu>li {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.galleryslide>li>img {
    width: 250px;
    height: 350px;
}

.gallery>div>button {
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.gallery>div {
    justify-content: space-between;
}

.galleryslide {
    width: 100%;
    overflow: hidden;
}

.next:checked~.gallery .galleryslide {
    animation: galleryslide 10s infinite;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

main {
    padding-top: 100px;
}

section.container {
    padding-top: 150px;
}

section.container .title {
    font-size: 2rem;
    padding-bottom: 30px;
}

.controlSlide label {
    border: 1px solid red;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    ;
    color: red;
}

.controlSlide {
    overflow: hidden;
}

.controlSlide .Bslider {
    width: 400%;
}

.controlSlide .Bslider .slide {
    flex: 1;
    gap: 3rem;
}

.controlSlide .Bslider .slide label:nth-child(1) {
    margin-left: auto;
}

#g1:checked~.itemContainer .controlSlide .Bslider {
    margin-left: 0%;
}

#g2:checked~.itemContainer .controlSlide .Bslider {
    margin-left: -100%;
}

#g3:checked~.itemContainer .controlSlide .Bslider {
    margin-left: -200%;
}

#g4:checked~.itemContainer .controlSlide .Bslider {
    margin-left: -300%;
}

#g1:checked~.itemContainer .imgSlide .Bslider {
    margin-left: calc(264px * -0);
}

#g2:checked~.itemContainer .imgSlide .Bslider {
    margin-left: calc(264px * -1);
}

#g3:checked~.itemContainer .imgSlide .Bslider {
    margin-left: calc(264px * -2);
}

#g4:checked~.itemContainer .imgSlide .Bslider {
    margin-left: calc(264px * -3);
}

#g1:checked~.itemContainer .controlSlide .slide:nth-child(1) label {
    animation: disable 0.25s linear;
}

#g2:checked~.itemContainer .controlSlide .slide:nth-child(2) label {
    animation: disable 0.25s linear;
}

#g3:checked~.itemContainer .controlSlide .slide:nth-child(3) label {
    animation: disable 0.25s linear;
}

#g4:checked~.itemContainer .controlSlide .slide:nth-child(4) label {
    animation: disable 0.25s linear;
}

.imgSlide {
    overflow: hidden;
}

.imgSlide .Bslider {
    height: 600px;
    width: calc(264px * 8);
    transition: all 0.25s;
}

.imgSlide .slide {
    height: 100%;
}

.imgSlide .slide .img {
    height: 100%;
    border: 1px solid red;
}
.img {
    background-size: cover;
}
.gap-5 {gap: 5rem;}
.modal {color: white; background-color: red;}
.backdrop {position: fixed; inset: 0; background-color: rgba(0, 0, 0, 0.683); transform: translate(100%); opacity: 0; transition: opacity 0.25s;}
#modal:checked ~ .backdrop {transform: translate(0); opacity: 1;}

.data > div {display: none;}

#league1:checked ~ #pos1:checked ~ .itemContainer [data-leauge="league1"][data-pos="pos1"] {display: block;}
#league1:checked ~ #pos2:checked ~ .itemContainer [data-leauge="league1"][data-pos="pos2"] {display: block;}

#league2:checked ~ #pos1:checked ~ .itemContainer [data-leauge="league2"][data-pos="pos1"] {display: block;}
#league2:checked ~ #pos2:checked ~ .itemContainer [data-leauge="league2"][data-pos="pos2"] {display: block;}

#league3:checked ~ #pos1:checked ~ .itemContainer [data-leauge="league3"][data-pos="pos1"] {display: block;}
#league3:checked ~ #pos2:checked ~ .itemContainer [data-leauge="league3"][data-pos="pos2"] {display: block;}


.easy .item { overflow: hidden; display: grid; grid-template-columns: repeat(3, 1fr); width: 400px; aspect-ratio: 1/1; border: 1px solid red; position: relative;}
.easy .item > div:nth-child(1):hover ~ .bg { background-position: -75px -75px;}
.easy .item > div:nth-child(2):hover ~ .bg { background-position: 0px -75px;}
.easy .item > div:nth-child(3):hover ~ .bg { background-position: 75px -75px;}
.easy .item > div:nth-child(4):hover ~ .bg { background-position: -75px 0;}
.easy .item > div:nth-child(5):hover ~ .bg { background-position: 0px 0;}
.easy .item > div:nth-child(6):hover ~ .bg { background-position: 75px 0;}
.easy .item > div:nth-child(7):hover ~ .bg { background-position: -75px 75px;}
.easy .item > div:nth-child(8):hover ~ .bg { background-position: 0px 75px;}
.easy .item > div:nth-child(9):hover ~ .bg { background-position: 75px 75px;}
.easy .item .bg { position: absolute; inset: 0; z-index: -1;  background: url('../images/37.jpg')  no-repeat center / cover; scale: 2; transition: all .25s;background-size: cover; }
.remain > div {
 width: 300px;
 height: 400px;
 background-position: center;
}
.remain {
    position: absolute;
    right: 311px;
}